body, html {
  background-color: black;
}

.container {
  width: 100%;
  height: 100%;
}

.post {
  max-width: 320px;
  height: 640px;
  margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.title {
  background: #FF3333;
  color: white;
  text-align: center;
  height: 50%;
  font-size: 32px;
  font-weight: bold;
}

.title h1 {
  margin: 0;
  position: relative;
  top: 30%;
}

.arrow-up {
  margin: 0 auto;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #2693FF;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: -1px;
}

.meta {
  background: #2693FF;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}

.caption {
  font-size: 24px;
  margin: 0 auto;
  padding: 10px 15px;
  background: rgba(0,0,0,0.75);
  font-weight: bold;
  color: #FFF;
  position: absolute;
  bottom: 10%;
  left: 10%;
  display: inline-block;
}

.post.quote {
  background: #00D9A3;
}

.post blockquote {
  margin: 0;
  position: relative;
  top: 40%;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

nav {
  background: #FF3333;
  color: #FFF;
  font-size: 72px;
  position: relative;
  width: 100%;
}

nav a  {
  color: white;
  text-decoration: none;
  text-align: center;
}


nav a:hover {
  background-color: #FF5153;
}

.back, .forward {
  display: inline-block;
  width: 50%;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 320px) {
  .post {
    max-width: 1500px;
    width: 100%;
    height: 100%;
  }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

