@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, html {
  background-color: black;
  width: 100%;
  height: 100%;
}

.container {
  width: auto;
  height: auto;
}

.post {
  width: 100%;
  height: 480px;
  margin: 0 auto;
  position: relative;
}

.post-bg {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.title {
  background: #FF3333;
  color: white;
  text-align: center;
  height: auto;
  padding: 30px 0;
  font-size: 32px;
  font-weight: bold;
  position: relative;
}

.title h1 {
  margin: 0;
}

.title a {
  color: #FFF;
  text-decoration: none;
}

.title a:hover {
  text-decoration: underline;
}

a {
  color: #FFF;
  text-decoration: underline;
}

.arrow-up {
  margin: 0 auto;
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #000;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  bottom: -1px;
}

.meta {
  background: #000;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}

.meta a {
  text-decoration: none;
}

.meta a:hover {
  text-decoration: underline;
}

.meta ul {
  margin: 0;
  padding: 0;
}

.meta li {
  display: inline-block;
  padding: 0 5px;
}

.caption {
  font-size: 24px;
  margin-right: 10%;
  font-weight: bold;
  color: #FFF;
  position: absolute;
  bottom: 5%;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.caption p, .caption blockquote {
  margin: 0;
}

.caption span {
  display: inline-block;
  padding: 15px 20px;
  background: rgba(0,0,0,0.5);
}

.post {
  background-color: #00D9A3;
}

.post .quote .quote-text {
  text-align: center;
  position: relative;
  top: 35%;
  margin: 0 5%;
}

.post .quote blockquote {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.post .quote .source {
  color: #FFF;
  opacity: 0.75;
  font-size: 20px;
  font-weight: bold;
}

.post .quote .source a {
  color: white;
  text-decoration: underline;
}


nav {
  background: #FF3333;
  color: #FFF;
  font-size: 72px;
  position: relative;
  width: 100%;
}

nav a  {
  color: white;
  text-decoration: none;
  text-align: center;
}


nav a:hover {
  background-color: #FF5153;
}

.back, .forward {
  display: inline-block;
  width: 50%;
}

.link h3 {
  margin: 0 auto;
  position: relative;
  top: 40%;
  font-size: 32px;
  text-align: center;
  color: #FFF;
}

.link h3 a {
  text-decoration: none;
}

.link h3 a:hover {
  text-decoration: underline;
}

.text {
  width: 60%;
  min-width: 700px;
  margin: 0 auto;
}

.text-block {
  font-size: 20px;
  line-height: 1.5em;
  padding: 50px;
  margin-bottom: 50px;
  position: relative;
  top: 50px;
  background: rgba(255,255,255,0.75);
}

.text-block a {
  color: black;
}

.conversation {
  margin: 0 auto;
  padding: 0;
  width: 50%;
  position: relative;
  top: 20%;
  list-style: none;
}

.conversation li {
  padding: 20px;
  color: #FFF;
  background: rgba(0,0,0,0.75);
}

.conversation li.odd {
  background: rgba(255,255,255,0.75);
  color: black;
}

.audio_player {
  width: 200px;
  margin: 0 auto;
  height: 100px;
}

.tumblr_audio_player {
  width: 200px;
  height: 100px;
  position: relative;
  top: 30%;
}

.video iframe {
  display: block;
  width: 300px;
  height: 225px;
  min-width: 300px;
  margin: 0 auto;
  position: relative;
  top: 10%;
}

.video .spotify_audio_player {
  width: 300px;
  height: auto;
  position: relative;
  top: 20%;
}

.video .soundcloud_audio_player {
  width: 300px;
  height: auto;
  position: relative;
  top: 20%;
}  

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-device-width: 1025px) {
  .container {
    width: 100%;
    height: 100%;
  }

  .title {
    height: 50%;
    padding: 0;
  }

  .title h1 {
    position: relative;
    top: 30%;
  }

  .post {
    max-width: 1500px;
    width: 100%;
    min-height: 100%;
  }

  .post-bg {
    background-size: cover;
    background-attachment: fixed;
  }

  .audio_player {
    width: 20%;
    margin: 0 auto;
    height: 100%;
  }

  .tumblr_audio_player {
    width: 100%;
    height: 20%;
    position: relative;
    top: 40%;
  }

  .video iframe {
    display: block;
    width: 700px;
    height: auto;
    min-width: 700px;
    margin: 0 auto;
    position: relative;
    top: 10%;
  }

  .video .spotify_audio_player {
    width: 50%;
    height: 70%;
    top: 10%;
  }

  .video .soundcloud_audio_player {
    width: 80%;
    height: auto;
    top: 40%;
  }  
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Font Icons
   ========================================================================== */


/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-heart, .icon-bubble, .icon-link {
  font-family: 'icomoon';
  speak: none;
  line-height: 1;
}
.icon-heart:before, .icon-bubble:before, .icon-link:before {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
.icon-heart:before {
  content: "\e003";
}
.icon-bubble:before {
  content: "\e004";
}
.icon-link:before {
  content: "\e000";
}
